html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form {
  padding: 1rem;
  border: 1px solid #ccc;
  margin-top: 2rem;
}
form * {
  width: 100%;
}

form button {
  margin-top: 1rem;
  padding: 0.8rem 0.2rem 0.8rem 0.2rem;
  cursor: pointer;
}
form small {
  margin-top: 1rem;
  display: block;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
