.container {
  padding: 0 2rem;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.containerForm {
  width: 20rem;
}
.formgroup label {
  font-size: 80%;
  font-weight: 600;
  display: block;
  line-height: 1.6rem;
}
.formgroup input,
.formgroup textarea {
  padding: 0.2rem;
}

.titleMemos {
  text-align: center;
  display: block;
}
.noMemosMessage {
  text-align: center;
  margin-bottom: 2rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.connectWalletButton {
  margin-top: 2rem;
}

.memo {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
  .logo img {
    filter: invert(1);
  }
}
